@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;400;700;900&display=swap');

@theme {
  --color-white-100: #FFFFFF;
  --color-slate-300: #D9E2F1;
  --color-slate-500: #4F5B70;
  --color-slate-900: #26303D;
  --color-blue-100: #DBEAFE;
  --font-family-outfit: 'Outfit', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 0.9375rem;
  line-height: 1.6;
  font-family: var(--font-family-outfit);
}